<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.taskjobs.mapper.ICronsMapper">



    <select id="findByCronsId" parameterType="integer" resultType="java.lang.String">
        select cron from  表 where id=#{identity }
    </select>
</mapper>