<component name="ArtifactManager">
  <artifact type="war" name="springboot-taskjobs:war">
    <output-path>$PROJECT_DIR$/springboot-taskjobs/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-taskjobs</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-taskjobs-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-taskjobs:war exploded" />
    </root>
  </artifact>
</component>