<component name="ArtifactManager">
  <artifact type="war" name="springboot-quartz:war">
    <output-path>$PROJECT_DIR$/springboot-quartz/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-quartz</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-quartz-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-quartz:war exploded" />
    </root>
  </artifact>
</component>