<component name="ArtifactManager">
  <artifact type="war" name="springboot-admin:war">
    <output-path>$PROJECT_DIR$/springboot-admin/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-admin</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-admin-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-admin:war exploded" />
    </root>
  </artifact>
</component>